<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--DESENVOLVIMENTO-->
    <add name="cnxSebraeAcademico" connectionString="Data Source=THOR\SEBRAE;Initial Catalog=UCSEBRAE_SGUS20_TRILHAS;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
    <add name="cnxMoodle" connectionString="server=dbdev.intranet.ice;User Id=phpuser;database=UCSEBRAE_MOODLE25; password=ratpack;" />
    <!--HOMOLOGAÇÃO-->
    <!--<add name="cnxSebraeAcademico" connectionString="Data Source=199.217.116.43,1433;Initial Catalog=UCSEBRAE_SGUS20_NAC;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
    <add name="cnxMoodle" connectionString="server=10.0.3.28;User Id=sistema.sebrae;database=UCSEBRAE_MOODLE25_NAC; password=ratpack@2000#;" />-->
    <!--PRODUÇÃO-->
    <!--<add name="cnxSebraeAcademico" connectionString="Data Source=10.33.0.12\GED,1433;Initial Catalog=UCSEBRAE_SGUS20;User ID=UCSEBRAE;Password=Na5715by;MultipleActiveResultSets=True; " />
    <add name="cnxMoodle" connectionString="server=10.1.114.104;User Id=ucsebrae;database=UCSEBRAE_MOODLE25; password=m00dl3sebr@e;" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soap_server_binding" />
        <binding name="waIntegracaoSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ServicoSigaOnlineSoap" />
        <binding name="wsSGTCSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsSGTCSoap1" />
        <binding name="IntegracaoSoap" />
        <binding name="WebServiceSebraeOCWSoap" />
        <binding name="BasicHttpBinding_ITreinamentoSas" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.homolog.sas.sebrae.com.br/Service.Treinamento/TreinamentoSas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITreinamentoSas" contract="integracaoSAS.ITreinamentoSas" name="BasicHttpBinding_ITreinamentoSas" />
    </client>
  </system.serviceModel>
</configuration>