<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/ChartImages/;" />
    <add key="enviaremailcomErros" value="S" />
    <add key="emaildedestinodoErro" value="marcelo.vitor@fgv.br" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="robo_sync" value="http://homolog.moodle25.icomunicacao.com.br/robo_sync/?&amp;nome=sebrae&amp;senha=Sebrae2022&amp;op={0}&amp;format=json" />
    <add key="portal_url_node_id" value="http://homolog.portal20.icomunicacao.com.br/soap-test" />

    <!--#1796 Keys customizadas para login automático-->
    <add key="debugLocal" value="N" />
    <add key="localUser" value="" />

    <!--
    As informações abaixo servem para ajudar qualquer desenvolvedor para agilizar o processo de desenvolvimento.
    Os dados são CPF, Nome do usuário, e os ID dele em diversos ambientes para utilizar no recurso de login automático acima.
    
    00524455180 - Edgar
    58394 - HMG/THOR
    58797 - PRD
    
    71208763172 - Robson
    50008 - THOR
    
    04570064124 - Gabriel
    
    01351233130 - André
    50005 - THOR
    
    01738339181 - Bruno
    58400 - THOR
    60573 - PRD
    
    01699607141 - Francisco
    
    14439590144 - Gastón
    71625 - THOR
    
    00000000015 - Gestor
    73065 - THOR
    
    06951811652 - Diego
    27562 - THOR/FALCON/PRD
    
    70865434620 - Paulo
    
    30055270182 - Alzira
    
    15557871187 - Lourdes
    
    26313502000 - José C.
    
    43440428249 - Adonay
    52 - THOR
    
    04744983103 - Stefany
    50004 - THOR
    -->
	<add key="NewRelic.AppName" value="SGUS" />
  </appSettings>
  <connectionStrings>
    <!--DESENVOLVIMENTO TRILHAS-->
    <add name="cnxSebraeAcademico" connectionString="Data Source=THOR\SEBRAE;Initial Catalog=UCSEBRAE_SGUS20_TRILHAS;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
    <add name="cnxMoodle" connectionString="server=dbdev.intranet.ice;User Id=phpuser;database=UCSEBRAE_MOODLE25; password=ratpack;" />

    <!--HOMOLOGAÇÃO-->
    <!--<add name="cnxSebraeAcademico" connectionString="Data Source=142.4.222.95,1433;Initial Catalog=UCSEBRAE_SGUS20_TRILHAS;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
    <add name="cnxMoodle" connectionString="server=10.0.3.28;User Id=sistema.sebrae;database=UCSEBRAE_MOODLE25_NAC; password=ratpack@2000#;" />-->

    <!--PRODUÇÃO-->
    <!--<add name="cnxSebraeAcademico" connectionString="Data Source=10.33.0.12\GED,1433;Initial Catalog=UCSEBRAE_SGUS20;User ID=UCSEBRAE;Password=Na5715by;MultipleActiveResultSets=True; " />
    <add name="cnxMoodle" connectionString="server=dbdev.intranet.ice;User Id=phpuser;database=UCSEBRAE_MOODLE25; password=ratpack;" />-->

    <!--MOODLE ORIGINAL-->
    <!--<add name="cnxMoodle" connectionString="server=10.1.114.104;User Id=ucsebrae;database=UCSEBRAE_MOODLE25; password=m00dl3sebr@e;" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>