<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
      <!--DESENVOLVIMENTO TRILHAS-->
      <!--<add name="cnxSebraeAcademico" connectionString="Data Source=THOR\SEBRAE;Initial Catalog=UCSEBRAE_SGUS20_TRILHAS;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
      <add name="cnxMoodle" connectionString="server=dbdev.intranet.ice;User Id=phpuser;database=UCSEBRAE_MOODLE25; password=ratpack;" />-->

      <!--HOMOLOGAÇÃO TRILHAS-->
      <!--<add name="cnxSebraeAcademico" connectionString="Data Source=falcon.icomunicacao.com.br;Initial Catalog=UCSEBRAE_SGUS20_TRILHAS;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
      <add name="cnxMoodle" connectionString="server=falcon.icomunicacao.com.br;User Id=sistema.sebrae;database=ucsebrae_moodle29; password=ratpack@2000#;" />-->

      <!--DESENVOLVIMENTO-->
      <!--<add name="cnxSebraeAcademico" connectionString="Data Source=THOR\SEBRAE;Initial Catalog=UCSEBRAE_SGUS20_PRD;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
      <add name="cnxMoodle" connectionString="server=dbdev.intranet.ice;User Id=phpuser;database=UCSEBRAE_MOODLE25; password=ratpack;" />-->
      <!--HOMOLOGAÇÃO-->
      <!--<add name="cnxSebraeAcademico" connectionString="Data Source=199.217.116.43,1433;Initial Catalog=UCSEBRAE_SGUS20_NAC;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " />
      <add name="cnxMoodle" connectionString="server=falcon;User Id=sistema.sebrae;database=ucsebrae_moodle29; password=ratpack@2000#;" />-->
      <!--PRODUÇÃO-->
      <add name="cnxSebraeAcademico" connectionString="Data Source=10.33.0.12\GED,1433;Initial Catalog=UCSEBRAE_SGUS20;User ID=UCSEBRAE;Password=Na5715by;MultipleActiveResultSets=True; " />
      <add name="cnxMoodle" connectionString="server=dbdev.intranet.ice;User Id=phpuser;database=UCSEBRAE_MOODLE25; password=ratpack;" />
      <!--MOODLE ORIGINAL-->
      <!--<add name="cnxMoodle" connectionString="server=10.1.114.104;User Id=ucsebrae;database=UCSEBRAE_MOODLE25; password=m00dl3sebr@e;" />-->
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>