<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--DESENVOLVIMENTO-->
    <add name="cnxSebraeAcademico" connectionString="Data Source=THOR\THOR,1433;Initial Catalog=UCSEBRAE_SGUS20;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; "/>
    <!-- HOMOLOGAÇÃO-->
    <!-- <add name="cnxSebraeAcademicoHmg" connectionString="Data Source=142.4.222.95,1433;Initial Catalog=UCSEBRAE_SGUS20_DEV;User ID=sistema.sebrae;Password=ratpack@2000#;MultipleActiveResultSets=True; " /> -->
    <add name="cnxMoodle" connectionString="server=142.4.222.95;User Id=sistema.sebrae;database=UCSEBRAE_MOODLE29; password=ratpack@2000#;" />
  </connectionStrings>
</configuration>