<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sebrae.Academico.BP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap_server_binding" />
                <binding name="waIntegracaoSoap" />
                <binding name="ServicoSigaOnlineSoap" />
                <binding name="wsSGTCSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsSGTCSoap1" />
                <binding name="IntegracaoSoap" />
                <binding name="WebServiceSebraeOCWSoap" />
                <binding name="TokenWSPortBinding" />
                <binding name="BasicHttpBinding_ITreinamentoSas" />
                <binding name="BasicHttpBinding_ITreinamentoSas1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://e012740.fgv.br/siga/servicosiga/ws_sebrae/ServicoSigaOnline.asmx" binding="basicHttpBinding" bindingConfiguration="ServicoSigaOnlineSoap" contract="fgvIntegracao.ServicoSigaOnlineSoap" name="ServicoSigaOnlineSoap" />
            <endpoint address="https://www.sgo.sebrae.com.br/BusinessConnect/wsSGTC.asmx" binding="basicHttpBinding" bindingConfiguration="wsSGTCSoap" contract="wsSGTC.wsSGTCSoap" name="wsSGTCSoap" />
            <endpoint address="http://ucsebrae.webaula.com.br/customizacoes/apiv2aspx/waintegracao.asmx" binding="basicHttpBinding" bindingConfiguration="waIntegracaoSoap" contract="waIntegracao.waIntegracaoSoap" name="waIntegracaoSoap" />
            <endpoint address="http://ava.uc.sebrae.com.br/WS/Integracao.asmx" binding="basicHttpBinding" bindingConfiguration="IntegracaoSoap" contract="moodleIntegracao.IntegracaoSoap" name="IntegracaoSoap" />
            <endpoint address="http://www5.fgv.br/ucsebraeocw/WebServiceSebraeOCW.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSebraeOCWSoap" contract="fgvIntegracaoOCW.WebServiceSebraeOCWSoap" name="WebServiceSebraeOCWSoap" />
            <endpoint address="http://des.portal20.intranet.ice/sgus" binding="basicHttpBinding" bindingConfiguration="soap_server_binding" contract="wsDrupalServices.soap_server_port_type" name="soap_server_port" />
            <endpoint address="http://sol.sebrae.com.br:80/ServiceSGUS/tokenws" binding="basicHttpBinding" bindingConfiguration="TokenWSPortBinding" contract="solTokenService.TokenWS" name="TokenWSPort" />
            <endpoint address="http://www.treina.sas.sebrae.com.br/Service.Treinamento/TreinamentoSas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITreinamentoSas" contract="integracaoSAS.ITreinamentoSas" name="BasicHttpBinding_ITreinamentoSas" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Sebrae.Academico.BP.Properties.Settings>
            <setting name="Sebrae_Academico_BP_wsSEBRAE_wsSGTC" serializeAs="String">
                <value>https://www.sgo.sebrae.com.br/businessconnect/wssgtc.asmx</value>
            </setting>
        </Sebrae.Academico.BP.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
